/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000; /* Schwarzer Hintergrund */
    color: #FFFBFC; /* Weiß für Text */
}

/* Fonts Styling */
@font-face {
    font-family: 'PorschaC';
    src: url('/static/fonts/webfonts_PorschaC/PorschaC.woff') format('woff'),
         url('/static/fonts/webfonts_PorschaC/PorschaC.ttf') format('truetype'),
         url('/static/fonts/webfonts_PorschaC/PorschaC.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('/static/fonts/Cinzel/static/Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.cinzel-header {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600; /* Adjust the weight as needed */
    font-style: normal;
  }
  


/* Navbar Styling */
.navbar {
    background-color: #fff; /* Weißer Hintergrund */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
    padding: 15px 0;
}

.navbar-brand img {
    max-height: 2.75em;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 0 20px;
    font-weight: 500;
    color: #333; /* Dunkelgrau */
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #D6BA3B; /* Blau beim Hover */
}

.nav-item .dropdown-menu {
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Kontakt Button Styling */
.btn-primary {
    background-color: #C9C0C0; /* grau */
    color: rgba(0, 0, 0, 0.785);
    border: none;
    padding: 10px 16px;
    font-weight: bold;
    margin-left: 16px;
    border-radius: 100px; /* Abgerundete Ecken */
}

.btn-primary:hover {
    background-color: #D6BA3B; /* Helleres Grün beim Hover */
}

/* Hero Section */
#home {
    background: url('https://images.pexels.com/photos/29263194/pexels-photo-29263194/free-photo-of-dj-mixing-at-night-party-in-mexico-city.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
    height: 100vh;
}

.hero-content {
    text-align: center;
    backdrop-filter: blur(10px);
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/011/887/512/small/halftone-dotted-background-free-png.png');
    background-blend-mode: overlay;
}

.hero-content h1 {
    color: #FFFFFF;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    font-family: 'PorschaC', 'Cinzel', Arial, Helvetica, sans-serif;

}


.hero-content p {
    color: #C9C0C0;
}

.hero-btn {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #22384E;
    border: none;
    color: #FFFBFC;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    cursor: pointer;
    will-change: transform, box-shadow;
    backface-visibility: hidden;
}

.hero-btn:hover {
    background-color: #D6BA3B; /* Lighter shade for contrast */
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(214, 186, 59, 0.8);
}

.hero-btn:active {
    transform: translateY(2px);
    box-shadow: 0 0 10px #D6BA3B;
}

.hero-btn:focus {
    outline: 2px solid #D6BA3B;
    outline-offset: 3px;
}

/* Leistungen */
#about {
    padding: 60px 0;
}

.about-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.about-description {
    font-size: 1.2rem;
    color: #555;
}

.product-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.product-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 15px 0;
}

.product-price {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ff5733;
}

.product-details {
    display: none;
    margin-top: 15px;
    font-size: 1rem;
    color: #555;
}

.product-details.visible {
    display: block;
}



.product-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.product-item.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Footer */
footer {
    padding: 20px;
    background: #22384E; /* Dunkles Blau */
    text-align: center;
}

footer p {
    color: #FFFBFC; /* Weißer Text */
}

.social-icons a {
    font-size: 1.5rem;
    color: #FFFBFC; /* Weiß */
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #D6BA3B; /* Gold beim Hover */
}
