<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - RayKen Events DJ Schweiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/events">Events</a>
            <a href="/book">Book</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h1>Kontakt</h1>
        <p>Kontaktiere uns hier für einen Auftrag!</p>
    </main>
    <footer>
        <p>&copy; 2024 DJ Afrit. All rights reserved.</p>
    </footer>
</body>
</html>
